<header>

    @if(notLoggedIn){

    <nav class="container-header-not-logged-in">
        <div>
            <img src="/assets/logo.svg" alt="Logo Orkut" (click)="navigateToHome()">
        </div>
        <ul>
            <li>Sobre o Orkut</li>
            <li>Centro de segurança</li>
        </ul>
    </nav>

    }@else {

    <nav class="container-header-logged-in">

        <div class="container-logo-and-infos">
            <img src="/assets/logo.svg" alt="Logo Orkut" (click)="navigateToHome('login')">
            <span (click)="navigateToHome('profile')">Perfil</span>
            <span class="selected" (click)="navigateToHome('home')">Início</span>
        </div>


        <div class="container-search-and-info-perfil">
            <div class="container-search">
                <img src="/assets/search.svg" alt="Search">
                <input type="text" placeholder="Pesquisar">
            </div>

            <div class="info-perfil">
                <div class="face"></div>
                <span>Ezequiel Mathias</span>
            </div>

        </div>

    </nav>

    }
</header>