footer{
 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        font-size: 14px;
        color: #ED2590;
        font-weight: bold;
    }
    
}